.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  display: flex;
}

.header a {
  font-size: calc(max(5px + 2vmin), 16px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root {
  background-size: cover;
  height: 100vh;
  background-color: #e2deda;
}

.card {
  /* display: flex; */
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;
  width: 340px;
  border: 1px solid #ccc;
  background: linear-gradient(#EEEDE7, white);
  padding-top: 3px;
}

.card-header {
  flex-direction: row;
}

.card:hover {
  box-shadow: 0 0 10px #ccc;
}

.company-logo img {
  max-width: 340px;
  margin-right: 0px;
}

.company-info h3 {
  margin-top: 0;
}

.company-info p {
  margin-bottom: 10px;
} 

.company-info h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.company-info h4{
  margin-top: 10px;
  margin-bottom: 20px;
}

.link-icon {
  height: 11px;
  width: auto;
  padding: 0;
}

.link-container {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* background-color: #61dafb; */
}

.link-container p {
  margin: 0;
  position: absolute;
  left: 0;
  display: flex;
  font-size: smaller;
  font-weight: 450;
  color: #515050;

}

.card ul {
  text-align: left;
  margin: 0;
  padding-left: 20px;
}

.card li {
  text-align: left;
  margin-bottom: 5px;
  font-size:14px;
}

.card-container {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  background-color: #e2deda;
  box-sizing: border-box;
}

.image-list-container {
  max-height: 80px;
  max-width: 340px;
  justify-content: center;
  display: flex; 
  flex-direction: row;
  gap: 5px;
  margin-bottom: 20px;
}

.image-container {
  height: 90px;
  width: 70px;
  border: 1px solid #ccc;
  /* flex-direction: row;
  justify-content: center; */
  position: relative;
  /* background-color: #e8f5e2; */
  background-color: bisque;
  border-radius: 15%;
}

.image-container p {
  padding: 0px;
  margin: 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: .9em;
}

.image {
  max-width: 50px;
  max-height: 50px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.about-container {
  justify-self: left;
  text-align: left;
  padding: 30px;
}


.tag-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  padding-left: 15px;
  justify-content: center;
}

.tag {
  background-color: #007bff;
  border-radius: 50px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
  margin: 0.3rem;
}

.project-card {
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-bottom: 10px;
  transition: box-shadow 0.3s ease-in-out;
  min-width: 340px;
  max-width: 640px;
  background: linear-gradient(#EEEDE7, white);
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  height: auto;
}


.project-card ul {
  text-align: left;
  margin: 0;
  padding-left: 40px;
  display: flex;
  max-width: 800px;
  display: flex;  
  flex-wrap: wrap;
}

.project-card li {
  text-align: left;
  font-size: 14px;
  margin: 5px;
  flex-wrap: wrap ;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.project-image {
  max-height: 300px;
  max-width: 640px;
  border-radius: 10px 10px 0px 0px;
  /* border: 4px solid #ccc; */
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-icon {
  max-height: 29px;
}